    <footer class="l-footer">
      <div class="l-footer_left">
        <span class="l-footer_left_copyright">
          &copy; 2020 Vitality Living Lab
        </span>
      </div>
      <div class="l-footer_right"></div>
    </footer>
	</div><!-- wrapper closes -->
  </body>
</html>