
$dataSystem-title: 'Roboto Slab', Helvetica, Arial, sans-serif;
$sans-regular: 'Noto Sans', Helvetica, Arial, sans-serif;
$serif-regular: 'Noto Serif', "Times New Roman", Times, serif;

$font12: 12px;
$font16: 16px;
$font20: 20px;
$font24: 24px;
$font32: 32px;
