<%- include('../partials/header') %>
    
    <div class="success">
    	<h1 class="success_title">Upload Completed</h1>
    	<a class="success_link" href="/">go to top</a>
    </div>
    
    
    <!-- javascripts -->
    <script src="<%= js %>main.js"></script>
       
<%- include('../partials/footer') %>